html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #666666;
  display: block;
  background: #eeeae7;
  height: 100%; }

blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  font-style: normal;
  outline: none;
  border: none; }

body {
  display: block;
  font-size: 12px !important; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font: inherit; }

del,
ins {
  text-decoration: none; }

li {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:after,
q:before {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #666; }

.clear {
  clear: both; }

.clearFix:after {
  clear: both;
  content: ".";
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden; }

.clearFix {
  *zoom: 1; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

pre {
  margin-left: 2em; }

a {
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: transparent; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

input:focus {
  border-color: none;
  outline: 0; }

::-webkit-input-placeholder {
  color: #999 !important; }

.mgT10 {
  margin-top: 0.1rem !important; }

.mgT20 {
  margin-top: 0.2rem !important; }

.mgT30 {
  margin-top: 0.3rem !important; }

.mgT40 {
  margin-top: 0.4rem !important; }

.mgT50 {
  margin-top: 0.5rem !important; }

.mgL10 {
  margin-left: 0.1rem !important; }

.mgL20 {
  margin-left: 0.2rem !important; }

.mgL30 {
  margin-left: 0.3rem !important; }

.mgL40 {
  margin-left: 0.4rem !important; }

.mgL50 {
  margin-left: 0.5rem !important; }

.mgR10 {
  margin-right: 0.1rem !important; }

.mgR20 {
  margin-right: 0.2rem !important; }

.mgR30 {
  margin-right: 0.3rem !important; }

.mgR40 {
  margin-right: 0.4rem !important; }

.mgR50 {
  margin-right: 0.5rem !important; }

.mgB10 {
  margin-bottom: 0.1rem !important; }

.mgB20 {
  margin-bottom: 0.2rem !important; }

.mgB30 {
  margin-bottom: 0.3rem !important; }

.mgB40 {
  margin-bottom: 0.4rem !important; }

.mgB50 {
  margin-bottom: 0.5rem !important; }

.mgB100 {
  margin-bottom: 1rem !important; }

.text-center {
  text-align: center; }

.img {
  padding-bottom: 1.4rem; }

.img img {
  width: 100%;
  vertical-align: middle; }

.body {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) top center/100% auto no-repeat;
  position: fixed;
  top: 0;
  left: 0; }
  .body .shuimo {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 4; }
    .body .shuimo img {
      width: 100%; }
  .body .title1 {
    padding-top: 9rem;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10; }
    .body .title1 img {
      width: 2.84rem; }
  .body .title2 {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 0.3rem;
    z-index: 10; }
    .body .title2 img {
      width: 2.27rem; }
  .body .title3 {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    position: relative;
    z-index: 10; }
    .body .title3 img {
      width: 2.27rem; }

.model {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none; }
  .model .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10; }
  .model .contetn {
    position: absolute;
    width: 5.7rem;
    height: 7rem;
    left: 50%;
    top: 50%;
    margin-top: -3.5rem;
    margin-left: -2.85rem;
    background: #eeeae7;
    z-index: 11; }
    .model .contetn .close {
      position: absolute;
      width: 0.65rem;
      height: 0.65rem;
      top: -1rem;
      right: 0; }
      .model .contetn .close img {
        width: 100%; }
    .model .contetn h1 {
      width: 100%;
      text-align: center;
      padding: 0.7rem 0 0.5rem; }
      .model .contetn h1 img {
        width: 1.63rem; }
    .model .contetn .form {
      padding: 0 0.4rem;
      margin-bottom: 0.5rem; }
      .model .contetn .form input {
        font-size: 0.3rem;
        color: #000;
        height: 0.4rem;
        line-height: 0.4rem;
        width: 4.5rem;
        padding: 0.2rem;
        border-radius: 0.1rem;
        border: 1px  solid #8a1b01; }
        .model .contetn .form input.min {
          width: 2rem; }
      .model .contetn .form a {
        display: inline-block;
        width: 2rem;
        height: 0.8rem;
        line-height: 0.8rem;
        margin-left: 0.3rem; }
        .model .contetn .form a img {
          width: 100%;
          vertical-align: middle; }
    .model .contetn .button {
      text-align: center; }
      .model .contetn .button img {
        width: 2.27rem; }

.mui-toast-container {
  line-height: 17px;
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  left: 50%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0; }

.mui-toast-container.mui-active {
  opacity: .9; }

.mui-toast-message {
  font-size: 14px;
  padding: 10px 25px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: #323232; }

/*# sourceMappingURL=index.css.map */
